<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>MyBoardGames</h1>
      <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %>
      <p><%= link_to 'サインアップ', signup_path %></p>
    </div>
  </div>
<% end %>